@{
    ViewData["Title"] = "Customer List";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Customer" asp-action="GetCustomerDetailByCustomerId" asp-route-customerId="@customer.Id">@customer.Name</a>
                            </td>
                            <td>@customer.Surname</td>
                            <td>@customer.Email</td>
                            <td>@customer.PhoneNumber</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-controller="Customer" asp-action="AddNewCustomer" class="btn btn-primary btn-block mb-3">Add New Customer</a>

            <div class="d-flex justify-content-center">
                <a asp-controller="Admin" asp-action="Login" class="btn btn-success btn-block">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>
